<div class="row">
  <div class="col-md-5">
    <h2>Contacts</h2>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let contact of contactList" (click)="selectContact(contact)" [class.active]="contact === selectedContact">
        {{contact.name}}
      </li>
    </ul>
<button class="btn btn-warning" [disabled]="!isAdmin" (click)="createNewContact()">New Contact</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <app-contactdetail [contact]="selectedContact" [createHandler]="addContact" [updateHandler]="updateContact" [deleteHandler]="deleteContact">
    </app-contactdetail>
  </div>
</div>